.env
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
.vscode/
.terraform/
*.tfstate
*.tfstate.backup
target/
logs/
tmp/
dist/
build/
*.egg-info/
spark-warehouse/

